$ -------------------------------------------------------------------- $
$ WAVEWATCH III Point output post-processing (NetCDF)                  $
$--------------------------------------------------------------------- $
$
  OUTPUT_TIMES 
$
  POINT
 -1
$
  ww3.
  8
  4
  T 1
  ITYPE
  0
  T
$
  SOURCE_FLAGS
$
$ -------------------------------------------------------------------- $
$ End of input file                                                    $
$ -------------------------------------------------------------------- $
